@import '@fontsource/manrope'; 
@import 'typeface-anton'; 


:root {
  --anton: "Anton", sans-serif;
  --manrop:'Manrope', sans-serif;
  --light-gray: #7A7A7A;
  --yellow: #FFD15B;
  --bg-gray: #e2e3e5;
  
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--manrop);
  min-width: 320px;
  width: 100%;
}
