h2.no-recipe-found {
  font-family: var(--anton);
  font-size: 2.5rem;
  align-self: center;
}

.home-content {
  width: 80%;
  display: flex;
  flex-direction: column;

  & .dropdown-and-number-result {
    display: flex;
    justify-content: space-between;
  }

  & .list-of-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
  }
  
}

