.banner {
  display: flex;
  justify-content: center;
  position: relative;
  height: 500px;
  width: 100%;
}
#banner-img {
  /* opacity: 50%; */
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.banner .search-recipe {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner .search-recipe h1 {
  font-family: var(--anton);
  font-size: 3rem;
  color: white;
  /* tip for text stroke */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-align: center;
  width: 70%;
}

.banner .search-recipe .general-search {
  font-size: 1rem;
  padding: 1em;
  color: var(--light-gray);
  border-radius: 10px;
  border-color: var(--light-gray);
  width: 60%;
}
